<script setup lang="ts">
import { ref } from "vue";
import PostList from "../components/PostList.vue";
import getPosts from "@/composables/getPosts";

const { posts, errorMsg, loadPosts } = getPosts();
const showPosts = ref(true);

loadPosts();
</script>

<template>
  <div class="home">
    <h1>Home</h1>
    <div v-if="errorMsg">{{ errorMsg }}</div>
    <div v-if="posts.length">
      <PostList v-if="showPosts" :posts="posts"></PostList>
    </div>
    <div v-else>Loading...</div>
    <button @click="showPosts = !showPosts">toggle posts</button>
    <button @click="posts.pop()">delete a post</button>
  </div>
</template>
