<script setup lang="ts">
import getPost from "@/composables/getPost";

interface Props {
  id: number;
}
const props = defineProps<Props>();

const { post, errorMsg, loadPost } = getPost(props.id);
loadPost();
</script>

<template>
  <div v-if="errorMsg">{{ errorMsg }}</div>
  <div v-else class="post">
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
  </div>
</template>
