<script lang="ts">
import BlockVue from "./components/BlockVue.vue";
import ResultsVue from "./components/ResultsVue.vue";
export default {
  name: "App",
  components: { BlockVue, ResultsVue },
  data() {
    return {
      isPlaying: false,
      delay: 0,
      showResults: false,
      score: 0,
    };
  },
  methods: {
    start() {
      this.delay = 2000 + Math.random() * 5000;
      this.isPlaying = true;
      this.showResults = false;
    },
    showResult(reactionTime: number) {
      this.score = reactionTime;
      this.isPlaying = false;
      this.showResults = true;
    },
  },
};
</script>

<template>
  <h1>Ninja Reaction Timer</h1>
  <button @click="start" :disabled="isPlaying">Play</button>
  <BlockVue v-if="isPlaying" :delay="delay" @end="showResult"></BlockVue>
  <ResultsVue v-if="showResults" :score="score"></ResultsVue>
</template>

<style scoped></style>
