<script lang="ts">
export default {};
</script>

<template>
  <div class="about">
    <h2>About</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia atque
      magni magnam molestiae, voluptates nisi vero aliquid animi illo natus
      eligendi repudiandae corrupti reprehenderit obcaecati aut, in ex
      perspiciatis deserunt. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Officia atque magni magnam molestiae, voluptates nisi vero aliquid
      animi illo natus eligendi repudiandae corrupti reprehenderit obcaecati
      aut, in ex perspiciatis deserunt. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Officia atque magni magnam molestiae, voluptates nisi
      vero aliquid animi illo natus eligendi repudiandae corrupti reprehenderit
      obcaecati aut, in ex perspiciatis deserunt. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Officia atque magni magnam molestiae,
      voluptates nisi vero aliquid animi illo natus eligendi repudiandae
      corrupti reprehenderit obcaecati aut, in ex perspiciatis deserunt.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia atque
      magni magnam molestiae, voluptates nisi vero aliquid animi illo natus
      eligendi repudiandae corrupti reprehenderit obcaecati aut, in ex
      perspiciatis deserunt. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Officia atque magni magnam molestiae, voluptates nisi vero aliquid
      animi illo natus eligendi repudiandae corrupti reprehenderit obcaecati
      aut, in ex perspiciatis deserunt. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Officia atque magni magnam molestiae, voluptates nisi
      vero aliquid animi illo natus eligendi repudiandae corrupti reprehenderit
      obcaecati aut, in ex perspiciatis deserunt. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Officia atque magni magnam molestiae,
      voluptates nisi vero aliquid animi illo natus eligendi repudiandae
      corrupti reprehenderit obcaecati aut, in ex perspiciatis deserunt.
    </p>
  </div>
</template>

<style></style>
