<script setup lang="ts"></script>

<template>
  <NuxtLayout name="display">
    <div>
      <h2>Display</h2>
      <p>Demonstration of sub-navigation</p>
      <div class="display-subpage">
        <NuxtPage></NuxtPage>
      </div>
    </div>
  </NuxtLayout>
</template>

<style scoped></style>
