<script setup lang="ts"></script>

<template>
  <NuxtLayout>
    <div><h2>Home Page</h2></div>

    <NuxtLink class="nav-link" to="/display/todos?completed=false"
      >Remaining Todos</NuxtLink
    >
  </NuxtLayout>
</template>

<style scoped></style>
