body {
  --color-primary: #03cfb4;
  --color-text: #333;
  background: #2b2b2b;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  color: var(--color-text);
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}