<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import type { Character } from './types'
import BaseLayout from './components/BaseLayout.vue'
import CharacterList from './components/CharacterList.vue'
import FavoriteCharacterList from './components/FavoriteCharacterList.vue'
import CharacterStatistics from './components/CharacterStatistics.vue'

const characters: Ref<Character[]> = ref([
  { id: 0, name: 'Darth Vader', killcount: 200, faction: 'sith' },
  { id: 1, name: 'Yoda', killcount: 150, faction: 'jedi' },
  { id: 2, name: 'Luke Skywalker', killcount: 35, faction: 'jedi' },
  { id: 3, name: 'Mace Windu', killcount: 57, faction: 'jedi' },
  { id: 4, name: 'Han Solo', killcount: 42, faction: 'neutral' }
])
const favoriteCharacters: Ref<Character[]> = ref([])

const addFavorite = function (character: Character) {
  favoriteCharacters.value.push(character)
}
const removeFavorite = function (characterToRemove: Character) {
  favoriteCharacters.value = favoriteCharacters.value.filter((favCharacter) => {
    return favCharacter.id !== characterToRemove.id
  })
}
</script>

<template>
  <header>
    <h1>Vue Exercise - StarWars</h1>
  </header>

  <main>
    <BaseLayout>
      <template v-slot:one>
        <FavoriteCharacterList
          :favoriteCharacters="favoriteCharacters"
          @onRemoveFavorite="removeFavorite"
        />
      </template>
      <template v-slot:two>
        <CharacterList :characters="characters" @onAddFavorite="addFavorite" />
      </template>
    </BaseLayout>

    <CharacterStatistics :characters="characters" />
  </main>
</template>

<style scoped></style>
