<script lang="ts">
import SignupForm from "./components/SignupForm.vue";

export default {
  name: "App",
  components: { SignupForm },
};
</script>

<template>
  <SignupForm></SignupForm>
</template>

<style scoped></style>
