<script setup lang="ts">
const photoList: Ref<Photo[]> = ref([]);

type Photo = {
  id: number;
  thumbnailUrl: string;
  title: string;
};

const numberOfPhotos = computed(() => {
  return photoList.value.length;
});

async function getPhotos() {
  const { data } = await useFetch<Photo[]>(
    "https://jsonplaceholder.typicode.com/albums/1/photos"
  );
  console.log(data.value);

  if (data.value != null) {
    photoList.value = data.value;
  } else {
    photoList.value = [];
  }
}
await getPhotos();
</script>

<template>
  <div>
    <h2>Gallery</h2>
    <button @click="getPhotos">Get Photos</button>

    <p>{{ numberOfPhotos }} Photos</p>
    <ul class="photo-list">
      <li
        class="photo-item"
        v-for="photo in photoList"
        :key="`photo-${photo.id}`"
      >
        <img :src="photo.thumbnailUrl" :alt="photo.title" />
        <span>{{ photo.title }}</span>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.photo-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  list-style-type: none;
  margin: 0;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  font-size: 0.8rem;
}
</style>
