<script setup lang="ts">
import { log } from "console";

const todoList: Ref<Todo[]> = ref([]);
const filteredList: Ref<Todo[]> = ref([]);

type Todo = {
  id: number;
  completed: boolean;
  title: string;
};

const route = useRoute();
const completedTodos = computed(() => {
  return todoList.value.filter((item) => item.completed);
});
const remainingTodos = computed(() => {
  return todoList.value.filter((item) => !item.completed);
});

function showAllTodos() {
  filteredList.value = todoList.value;
}
function showCompletedTodos() {
  filteredList.value = completedTodos.value;
}
function showRemainingTodos() {
  filteredList.value = remainingTodos.value;
}

async function getTodos() {
  const response = await fetch("https://jsonplaceholder.typicode.com/todos/");
  const data = await response.json();
  todoList.value = data;
}
await getTodos();

if (route.query?.completed === "true") {
  showCompletedTodos();
} else if (route.query?.completed === "false") {
  showRemainingTodos();
} else {
  showAllTodos();
}
</script>

<template>
  <div v-if="route.params.id">
    <NuxtPage></NuxtPage>
  </div>
  <div v-else>
    <h2>Todos</h2>
    <button @click="showAllTodos">all</button>
    <button @click="showCompletedTodos">completed</button>
    <button @click="showRemainingTodos">remaining</button>
    <p>
      {{ todoList.length }} Todos, {{ completedTodos.length }} completed,
      {{ remainingTodos.length }} remaining
    </p>
    <ul class="todo-list">
      <li v-for="todo in filteredList" :key="`todo-${todo.id}`">
        <input type="checkbox" :checked="todo.completed" />
        <NuxtLink :to="`/display/todos/${todo.id}`">{{ todo.title }}</NuxtLink>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.todo-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin: 0;
}
</style>
