<template>
  <Html lang="en"> <Title>Nuxt fundamentals</Title> </Html>

  <header>
    <h1><RouterLink to="/">Nuxt fundamentals</RouterLink></h1>
    <TheMainNav></TheMainNav>
  </header>
  <main>
    <NuxtPage></NuxtPage>
  </main>
</template>

<style lang="scss">
@import url("./assets/styles/main.scss");

$color-primary: rgb(185, 185, 233);
$color-text: #333;

:root {
  --color-primary: #{$color-primary};
  --color-text: #{$color-text};
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  margin: 0;
}

h1 {
  margin: 0;

  a {
    text-decoration: none;
    color: var(--color-text);
  }
}

header {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
</style>
