body {
  --color-primary: #0faf87;
  --color-text: #333;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--color-text);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

button {
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: default;
  background: #ddd;
}