<script setup lang="ts">
import type { Task } from "../types";
import { useTaskStore } from "../stores/TaskStore";

const taskStore = useTaskStore();
const deleteTask = (id: number) => {
  taskStore.deleteTask(id);
};
const toggleFav = (id: number) => {
  taskStore.toggleFav(id);
};

interface Props {
  task: Task;
}
defineProps<Props>();
</script>

<template>
  <div class="task">
    <h2>{{ task.title }}</h2>
    <div class="icons">
      <i
        @click="deleteTask(task.id)"
        class="fa fa-trash"
        aria-hidden="true"
      ></i>
      <i
        @click="toggleFav(task.id)"
        class="fa fa-heart"
        :class="{ 'task--fav': task.isFav }"
        aria-hidden="true"
      ></i>
    </div>
  </div>
</template>

<style>
.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task h3 {
  display: inline-block;
}

.task .icons {
  text-align: right;
}

.task .fa {
  padding: 0 5px;
  font-size: 1.4rem;
  color: #bbb;
  cursor: pointer;
}
.task .fa:hover {
  color: #444;
}
.task .task--fav {
  color: red;
}
</style>
