<script setup lang="ts">
import { ref } from "vue";
import { useTaskStore } from "../stores/TaskStore";

const taskStore = useTaskStore();
const newTaskTitle = ref("");
const handleSubmit = () => {
  if (newTaskTitle.value.length > 0) {
    taskStore.addTask({
      id: taskStore.generateId(),
      title: newTaskTitle.value,
      isFav: false,
    });
    newTaskTitle.value = "";
  }
};
</script>

<template>
  <form class="add-task-form" @submit.prevent="handleSubmit">
    <input type="text" placeholder="I need to..." v-model="newTaskTitle" />
    <button>Add</button>
  </form>
</template>

<style>
.add-task-form {
  max-width: 640px;
  padding: 20px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.add-task-form button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
.add-task-form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
</style>
