<script lang="ts">
export default {
  props: {
    delay: Number,
  },
  data() {
    return {
      showBlock: false,
      timer: 0,
      reactionTime: 0,
    };
  },
  mounted() {
    setTimeout(() => {
      this.showBlock = true;
      this.startTimer();
    }, this.delay);
  },
  methods: {
    startTimer() {
      this.timer = setInterval(() => {
        this.reactionTime += 10;
      }, 10);
    },
    stopTimer() {
      clearInterval(this.timer);
      this.$emit("end", this.reactionTime);
    },
  },
};
</script>

<template>
  <div class="block" v-if="!showBlock">wait for it...</div>
  <div class="block block--green" v-if="showBlock" @click="stopTimer">
    click me
  </div>
</template>

<style scoped>
.block {
  width: 400px;
  border-radius: 20px;
  text-align: center;
  padding: 100px 0;
  margin: 40px auto;
}
.block--green {
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
</style>
