<script lang="ts">
export default {
  props: {
    score: Number,
  },
  data() {
    return {
      rank: "",
    };
  },
  mounted() {
    if (this.score && this.score < 250) {
      this.rank = "Ninja Fingers";
    } else if (this.score && this.score < 400) {
      this.rank = "Rapid Reflexes";
    } else {
      this.rank = "Snail pace...";
    }
  },
};
</script>

<template>
  <h2>{{ rank }}</h2>
  <p>Reaction time: {{ score }}ms</p>
</template>

<style scoped>
h2 {
  color: var(--color-primary);
}
</style>
