:root {
  --color-dark: #181818;
  --color-bright: #d5d5d5;
  --color-primary: #994646;
  --color-primary--brighter: #bf5757;
}

body {
  background-color: var(--color-dark);
  color: var(--color-bright);
  font-family: sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  border:none;
  background: var(--color-primary);
  color: var(--color-bright);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--color-primary--brighter) ;
}