<script setup lang="ts">
import type { User } from '@/globalTypes'

defineProps<{
  user: User
}>()

const emit = defineEmits<{
  (event: 'click', id: number | undefined): void
}>()

const onClickItem = (id: number | undefined) => {
  emit('click', id)
}
</script>

<template>
  <div :class="$style['user-li']" @click="onClickItem(user.id)">
    {{ user.name }}
  </div>
</template>

<style module>
.user-li {
  padding: 10px;
  background-color: var(--color-grey);
  margin-bottom: 5px;
  cursor: pointer;
}

.user-li:hover {
  background-color: var(--color-primary);
}
</style>
