<script setup lang="ts">
import type { User } from '@/globalTypes'

defineProps<{
  user: User
}>()
</script>

<template>
  <div :class="$style['user-card']">
    <h2>{{ user.name }}</h2>
    <ul>
      <li>E-Mail: {{ user.email }}</li>
      <li>Phone: {{ user.phone }}</li>
      <li>Username: {{ user.username }}</li>
      <li>Web: {{ user.website }}</li>
    </ul>
  </div>
</template>

<style module>
.user-card {
  padding: 10px;
  background-color: var(--color-primary);
}
</style>
