<script lang="ts">
import TheModal from "./components/TheModal.vue";
import TheHeader from "./components/TheHeader.vue";

export default {
  name: "App",
  components: { TheModal, TheHeader },
  data() {
    return {
      showModal1: false,
      showModal2: false,
      header1: "Sign up for the Givaway",
      header2: "Second modal",
    };
  },
  methods: {
    toggleModal1() {
      this.showModal1 = !this.showModal1;
    },
    toggleModal2() {
      this.showModal2 = !this.showModal2;
    },
  },
};
</script>

<template>
  <TheHeader />
  <main>
    <p>Good Morning!</p>
    <button @click="toggleModal1">open modal</button>
    <button @click="toggleModal2">open another</button>
  </main>
  <teleport to=".modals" v-if="showModal1">
    <TheModal :header="header1" theme="notsale" @close="toggleModal1">
      <p>Grab it all for half the price!</p>
      <template v-slot:links>
        <a class="actions__link" href="#">sign up now</a>
        <a class="actions__link" href="#">more info</a>
      </template>
    </TheModal>
  </teleport>
  <teleport to=".modals" v-if="showModal2">
    <TheModal :header="header2" theme="sale" @close="toggleModal2">
      <p>OMG, this is another modal</p>
      <template v-slot:links>
        <a class="actions__link" href="#">sheesh link</a>
      </template>
    </TheModal>
  </teleport>
</template>

<style>
main {
  background: #fff;
  padding: 20px;
}
</style>
