<script lang="ts">
export default {
  data() {
    return {
      email: "",
      password: "",
      role: "",
      terms: false,
      names: [],
      tempSkill: "",
      skills: [] as string[],
      passwordError: "",
    };
  },
  methods: {
    addSkill(e: KeyboardEvent) {
      if (e.key === "," && this.tempSkill) {
        this.tempSkill = this.tempSkill.replace(",", "");
        if (!this.skills.includes(this.tempSkill)) {
          this.skills.push(this.tempSkill);
        }

        this.tempSkill = "";
      }
    },
    deleteSkill(skill: string) {
      this.skills = this.skills.filter((item) => {
        return skill != item;
      });
    },
    handleSubmit() {
      // validate password
      this.passwordError =
        this.password.length > 8
          ? ""
          : "Password must be at least 8 chars long";

      if (!this.passwordError) {
        console.log("email:", this.email);
        console.log("password:", this.password);
        console.log("role:", this.role);
        console.log("terms:", this.terms);
        console.log("names:", this.names);
        console.log("skills:", this.skills);
      }
    },
  },
};
</script>

<template>
  <form @submit.prevent="handleSubmit">
    <label for="email">Email:</label>
    <input id="email" type="email" required v-model="email" />

    <label for="password">Password:</label>
    <input id="password" type="password" required v-model="password" />
    <div v-if="passwordError" class="error">{{ passwordError }}</div>

    <label for="role">Role: </label>
    <select id="role" v-model="role">
      <option value="developer">Web Developer</option>
      <option value="designer">Web Designer</option>
    </select>

    <div class="terms">
      <input id="terms" type="checkbox" required v-model="terms" />
      <label for="terms">Accept terms and conditions</label>
    </div>

    <div>
      <input id="name1" type="checkbox" value="shaun" v-model="names" />
      <label for="name1">Shaun</label>

      <input id="name2" type="checkbox" value="yoshi" v-model="names" />
      <label for="name2">Yoshi</label>

      <input id="name3" type="checkbox" value="mario" v-model="names" />
      <label for="name3">Mario</label>
    </div>

    <label for="skills">Skills</label>
    <input type="text" id="skills" v-model="tempSkill" @keyup="addSkill" />
    <div
      v-for="skill in skills"
      :key="skill"
      class="pill"
      @click="deleteSkill(skill)"
    >
      {{ skill }}
    </div>

    <div class="submit">
      <button>Create Account</button>
    </div>
  </form>
</template>

<style scoped>
form {
  max-width: 420px;
  margin: 30px auto;
  background: #fff;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}
label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}
input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}
.pill {
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}
button {
  background: #0b6dff;
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.submit {
  text-align: center;
}
.error {
  color: #ff0062;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
</style>
