<script lang="ts">
export default {
  name: "TheHeader",
  data() {
    return {
      title: "My first Vue App :)",
    };
  },
};
</script>

<template>
  <header>
    <h1>{{ title }}</h1>
  </header>
</template>

<style scoped>
header {
  background-color: var(--color-primary);
  padding: 10px;
}
h1 {
  border-bottom: 1px solid #333;
  display: inline-block;
  padding-bottom: 10px;
  color: #333;
}
</style>
