<script setup lang="ts"></script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="75" height="75" />
    <h1>Vitest</h1>
  </header>
  <main>
    <RouterView />
  </main>
</template>

<style scoped>
header {
  display: flex;
  background: #313131;
  padding: 20px;
}

main {
  padding: 20px;
  background: #414141;
}
</style>
