<script lang="ts">
type Job = {
  id: string;
  title: string;
  details: string;
};

export default {
  data() {
    return {
      jobs: [] as Job[],
    };
  },
  mounted() {
    fetch("http://localhost:3000/jobs")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        this.jobs = data;
      })
      .catch((err) => console.error(err.message));
  },
};
</script>

<template>
  <div class="jobs">
    <h2>Jobs</h2>
    <div v-if="jobs.length">
      <div v-for="job in jobs" :key="job.id" class="job">
        <RouterLink
          :to="{ name: 'job', params: { id: job.id } }"
          class="job__link"
        >
          <h3 class="job__title">{{ job.title }}</h3>
        </RouterLink>
      </div>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<style scoped>
.job__title {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
}
.job__title:hover {
  background: rgba(0, 0, 0, 0.1);
}
.job__link {
  color: #333;
  text-decoration: none;
}
</style>
