<script lang="ts">
type Job = {
  id: string;
  title: string;
  details: string;
};

export default {
  props: ["id"],
  data() {
    return {
      job: {} as Job,
    };
  },
  mounted() {
    fetch(`http://localhost:3000/jobs/${this.id}`)
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        this.job = data;
      })
      .catch((err) => console.error(err.message));
  },
};
</script>

<template>
  <div class="job" v-if="job.title">
    <h2>{{ job.title }}</h2>
    <p>{{ job.details }}</p>
  </div>
  <div v-else>
    <p>Loading...</p>
  </div>
</template>

<style></style>
