<script setup lang="ts">
import RenderFunction from '@/components/RenderFunction.vue'
</script>

<template>
  <div>
    <h2>Rendering</h2>
    <h3>Custom render function</h3>
    <p>
      Most of the time the template-tag will work fine. Sometimes you want to create a UI
      programatically. Usually for utility, re-usably components.
    </p>
    <code>
      import {h} from 'vue' render() { return h('div', { id: 'foo' onClick: this.onClick }, 'hello')
      }
    </code>
    <RenderFunction></RenderFunction>
  </div>
</template>

<style scoped></style>
