<script setup lang="ts">
import { onMounted, onUnmounted, onUpdated } from "vue";
import PostTeaser from "./PostTeaser.vue";
import type { Post } from "../types";

interface Props {
  posts: Post[];
}
defineProps<Props>();

onMounted(() => {});
onUnmounted(() => {});
onUpdated(() => {});
</script>

<template>
  <div class="post-list">
    <div v-for="post in posts" :key="post.id">
      <PostTeaser :post="post" />
    </div>
  </div>
</template>
