<script setup lang="ts">
import { computed } from "vue";
import type { Post } from "../types";

interface Props {
  post: Post;
}
const props = defineProps<Props>();

const snippet = computed(() => {
  return props.post.body.substring(0, 99);
});
</script>

<template>
  <div class="post">
    <RouterLink :to="{ name: 'post', params: { id: post.id } }">
      <h2>{{ post.title }}</h2>
    </RouterLink>
    <p>{{ snippet }}</p>
    <span v-for="tag in post.tags" :key="tag"> #{{ tag }} </span>
  </div>
</template>
