<script lang="ts">
export default {
  methods: {
    redirect() {
      this.$router.push({ name: "home" });
    },
    back() {
      this.$router.back();
    },
    forward() {
      this.$router.forward();
    },
  },
};
</script>

<template>
  <header>
    <h1>Ninja Jobs</h1>
    <nav>
      <RouterLink :to="{ name: 'home' }">Home</RouterLink>
      <RouterLink :to="{ name: 'jobs' }">Jobs</RouterLink>
      <RouterLink :to="{ name: 'about' }">About</RouterLink>
    </nav>
  </header>
  <main>
    <div class="buttons">
      <button @click="redirect">Redirect</button>
      <button @click="back">Go back</button>
      <button @click="forward">Go forward</button>
    </div>
    <RouterView />
  </main>
</template>

<style scoped>
header {
  background: rgb(26, 172, 111);
  padding: 20px;
  color: #fff;
}
nav {
  margin: -20px;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
nav a.router-link-active {
  color: #fff;
  background: crimson;
}

main {
  background: #fff;
  padding: 20px;
}

button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
