:root {
  --color-primary: #b2dbb2;

  --color-grey: #eee;
  --color-text: #333;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}
main h1 {
  margin-top: 10vh;
  margin-bottom: 20px;
}