<template>
  <div class="grid">
    <div class="one">
      <slot name="one">
        <p>no content in slot "one"</p>
      </slot>
    </div>
    <div class="two">
      <slot name="two">
        <p>no content in slot "two"</p>
      </slot>
    </div>
  </div>
</template>

<style scoped>
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
</style>
