<script setup lang="ts">
import type { Character } from '../types'

export interface Props {
  character: Character
}
defineProps<Props>()
defineEmits<{
  (e: 'onAddFavorite', character: Character): void
}>()
</script>

<template>
  <div class="card">
    <h3>{{ character.name }}</h3>
    <button @click="$emit('onAddFavorite', character)">⭐fav</button>
  </div>
</template>

<style scoped>
.card {
  border: 1px solid var(--color-primary);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
</style>
