<script setup lang="ts">
import { computed } from 'vue'
import type { Character } from '../types'

export interface Props {
  characters: Character[]
}
const props = defineProps<Props>()

const jediAmount = computed(
  () => props.characters.filter((character) => character.faction === 'jedi').length
)
const sithAmount = computed(
  () => props.characters.filter((character) => character.faction === 'sith').length
)
const neutralAmount = computed(
  () => props.characters.filter((character) => character.faction === 'neutral').length
)
</script>

<template>
  <section>
    <h2>Statistics</h2>
    <h3>Factions:</h3>
    <ul>
      <li>Jedi: {{ jediAmount }}</li>
      <li>Sith: {{ sithAmount }}</li>
      <li>Neutral: {{ neutralAmount }}</li>
    </ul>
  </section>
</template>

<style scoped></style>
