<script setup lang="ts">
import type { Character } from '../types'
import CharacterCard from './CharacterCard.vue'

export interface Props {
  characters: Character[]
}
defineProps<Props>()

defineEmits<{
  (e: 'onAddFavorite', character: Character): void
}>()
</script>

<template>
  <section>
    <h2>Characters</h2>
    <p v-if="characters.length === 0">loading...</p>
    <ul v-else class="list">
      <li v-for="character in characters" :key="character.name">
        <CharacterCard :character="character"></CharacterCard>
      </li>
    </ul>
  </section>
</template>

<style scoped></style>
