<script setup lang="ts">
import type { Character } from '../types'

export interface Props {
  favoriteCharacters: Character[]
}
defineProps<Props>()

defineEmits<{
  (e: 'onRemoveFavorite', character: Character): void
}>()
</script>

<template>
  <section>
    <h2>Favorites</h2>
    <p v-if="favoriteCharacters.length === 0">no favorites</p>
    <ul v-else class="list">
      <li v-for="character in favoriteCharacters" :key="character.name">
        <h3>{{ character.name }}</h3>
        <button @click="$emit('onRemoveFavorite', character)">⭐unfav</button>
      </li>
    </ul>
  </section>
</template>

<style scoped></style>
