<script setup lang="ts">
import { h } from 'vue'

/**
 * Render static HTML
 */
const renderStatic = () => {
  return h(
    'div',
    {
      id: 'renderStatic'
    },
    [h('span', 'programatically rendered')]
  )
}

/**
 * Use conditions
 */
const renderConditional = () => {
  const condition = true
  return condition
    ? h('div', { id: 'renderConditional' }, [h('span', `condition is ${condition}`)])
    : h('div', { id: 'renderConditional' }, 'false')
}

/**
 * Use loop
 */
const renderLoop = () => {
  const array = ['one', 'two', 'three']

  return h(
    'ul',
    {
      id: 'renderLoop'
    },
    [
      array.map((item) => {
        return h('li', item)
      })
    ]
  )
}
</script>

<template>
  <h4>Static</h4>
  <renderStatic />
  <h4>Condition</h4>
  <renderConditional />
  <h4>Loop</h4>
  <renderLoop />
</template>

<style scoped></style>
