<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Hello, Vue :)</title>

    <style>
      body {
        background: #eee;
        max-width: 1200px;
        margin: 20px auto;
      }
      p,
      ul {
        margin: 0;
        padding: 0;
      }
      .books {
        display: flex;
        list-style-type: none;
      }
      .book {
        background: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px;
      }
      .book--fav {
        background: #fbb;
      }
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Vue ;)</h1>

    <div id="app">
      <!-- attribute binding -->
      <a :href="url">best website ever</a>

      <!-- for loop -->
      <ul class="books">
        <li
          v-for="book in books"
          class="book"
          :class="{'book--fav': book.isFav}"
          @click="toogleFav(book)"
        >
          <h2>{{ book.title }}</h2>
          <p>Author: {{book.author}} ({{book.age}})</p>
          <img :src="book.img" :alt="book.title" />
        </li>
      </ul>

      <p>Favorites:</p>
      <ul>
        <li v-for="book in filteredBooks">{{ book.title }}</li>
      </ul>

      <!-- click event to trigger method -->
      <button @click="toggleButtons">
        <span v-if="showButtons">Hide Buttons</span>
        <span v-else>Show Buttons</span>
      </button>

      <!-- v-if is removing from DOM -->
      <div v-if="showButtons">
        <button @click="books[0].age++">Increase age</button>
        <button @click="books[0].age--">Decrease age</button>
        <div @click="changeTitle('Words of Randiance')">Change title</div>
      </div>

      <!-- v-show is using display:none -->
      <div v-show="showButtons">Currently showing buttons</div>

      <br />
      <!-- mouse events -->
      <div class="box" @mouseover="handleEvent">mouseover</div>
      <div class="box" @mouseleave="handleEvent($event, 5)">mouseleave</div>
      <div class="box" @dblclick="handleEvent">double click</div>
      <div class="box" @mousemove="handleMousemove">
        position - {{ x }}, {{ y }}
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
