<script setup lang="ts">
import { useCountStore } from '@/stores/CountStore'

const countStore = useCountStore()

const onClickIncement = () => {
  countStore.increment()
}
</script>

<template>
  <main>
    <h1>Welcome to <br />C'est La Vue</h1>
    <p>
      This is a place to manage various things: todos, users, posts, etc. Whatever your mind
      desires!
    </p>
    <h2>CountStore</h2>
    <ul>
      <li>Count: {{ countStore.count }}</li>
      <li>Double count: {{ countStore.getDoubleCount }}</li>
    </ul>
    <button @click="onClickIncement">Increment count</button>
  </main>
</template>

<style scoped></style>
