<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const emailInput = ref('')

const onClickLogin = () => {
  // validation
  if (emailInput.value.length > 3 && emailInput.value.includes('@')) {
    router.push('/users')
  } else {
    console.log('invalid email')
  }
}
</script>

<template>
  <main>
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="email" v-model="emailInput" />
    <button @click="onClickLogin">Continue with email</button>
  </main>
</template>

<style scoped>
label {
  margin-bottom: 5px;
}
input[type='email'] {
  padding: 0.5rem;
  margin-bottom: 30px;
}
button {
  border: 1px solid green;
  padding: 10px;
  color: var(--color-text);
  background-color: var(--color-primary);
  cursor: pointer;
}
</style>
