<script setup lang="ts">
import { useRoute } from 'vue-router'
import { useUserStore } from '@/stores/UserStore'
import UserCard from '@/components/UserCard.vue'

const route = useRoute()
const userStore = useUserStore()

const getUser = async function () {
  const id = route.params.id

  if (typeof id === 'string') {
    await userStore.updateUser(id)
  }
}
await getUser()
</script>

<template>
  <main>
    <h1>{{ userStore.user.name }}</h1>
    <p>
      This is {{ userStore.user.name }} from
      <a href="https://jsonplaceholder.typicode.com">jsonplaceholder</a>
    </p>
    <UserCard :user="userStore.user" />
  </main>
</template>

<style scoped></style>
