<script setup lang="ts">
import { useRouter } from 'vue-router'
import UserListItem from '@/components/UserListItem.vue'
import { useUserStore } from '@/stores/UserStore'

const router = useRouter()
const userStore = useUserStore()

await userStore.updateUsers()

const onClickUserCard = (id: number | undefined) => {
  router.push(`/user/${id}`)
}
</script>

<template>
  <main>
    <h1>Users</h1>
    <p>These are users from <a href="https://jsonplaceholder.typicode.com">jsonplaceholder</a></p>
    <ul>
      <li v-for="user in userStore.users" :key="`user-${user.id}`">
        <UserListItem :user="user" @click="onClickUserCard"></UserListItem>
      </li>
    </ul>
  </main>
</template>

<style scoped>
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
</style>
