<script setup lang="ts">
import { storeToRefs } from "pinia";
import { ref } from "vue";
import TaskDetails from "./components/TaskDetails.vue";
import TaskForm from "./components/TaskForm.vue";
import { useTaskStore } from "./stores/TaskStore";

const taskStore = useTaskStore();
const { tasks, isLoading, favs } = storeToRefs(taskStore);

const filter = ref("all");
</script>

<template>
  <main>
    <header>
      <img src="./assets/pinia-logo.svg" alt="Pinia Logo" />
      <h1>Pinia Tasks</h1>
    </header>

    <div class="new-task">
      <TaskForm></TaskForm>
    </div>

    <nav class="filter">
      <button @click="filter = 'all'">All tasks ({{ tasks.length }})</button>
      <button @click="filter = 'favs'">Favorites ({{ favs.length }})</button>
    </nav>

    <div class="loading" v-if="isLoading">loading...</div>

    <div class="task-list" v-if="filter === 'all'">
      <span>All tasks</span>
      <div v-for="task in tasks" :key="task.id">
        <TaskDetails :task="task" />
      </div>
    </div>

    <div class="task-list" v-if="filter === 'favs'">
      <span>Favorites</span>
      <div v-for="task in favs" :key="task.id">
        <TaskDetails :task="task" />
      </div>
    </div>

    <button @click="taskStore.$reset">reset state</button>
  </main>
</template>

<style>
header {
  text-align: center;
  background: #e7e7e7;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 60px;
  transform: rotate(-10deg);
}

header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  transform: rotate(2deg);
}

.task-list {
  max-width: 640px;
  margin: 20px auto;
}

.filter {
  width: 640px;
  margin: 10px auto;
  text-align: right;
}

.filter button {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.filter button:hover {
  background: #ddd;
}
.loading {
  max-width: 640px;
  border: 1px solid #ffd859;
  background: #ffe9a0;
  color: #3a3a3a;
  padding: 5px 0;
  text-align: center;
  margin: 30px auto;
}
</style>
