body {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #eee;
  color: var(--color-text);

  --color-text: #333;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}