<script setup lang="ts"></script>

<template>
  <nav>
    <NuxtLink class="nav-link" to="/display/todos">Todos</NuxtLink>
    <NuxtLink class="nav-link" to="/display/gallery">Gallery</NuxtLink>
  </nav>
</template>

<style scoped>
.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color-text);
  padding-right: 8px;
}

.router-link-active {
  color: darkmagenta;
}
</style>
