<script setup lang="ts">
import { ref } from 'vue'
import NotificationToast from '../components/NotificationToast.vue'

const message = ref<string>('')

function openNotification() {
  message.value = 'Notification about success'
}

function clearNotification() {
  message.value = ''
}
</script>

<template>
  <main>
    <h2>Home</h2>
    <button @click="openNotification">Open Toast</button>
    <NotificationToast
      status="success"
      :message="message"
      @clear-notification="clearNotification"
    ></NotificationToast>
  </main>
</template>

<style scoped></style>
