<template>
  <div>
    <h2>Home</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iusto ipsa
      obcaecati, deserunt excepturi eligendi. Id quasi ut recusandae, quod
      soluta deleniti fuga cum quos reiciendis minima totam blanditiis
      laboriosam.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iusto ipsa
      obcaecati, deserunt excepturi eligendi. Id quasi ut recusandae, quod
      soluta deleniti fuga cum quos reiciendis minima totam blanditiis
      laboriosam.
    </p>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
