<template>
  <header class="header">
    <span class="logo"> <img src="@/assets/vue-heart.png" width="30" />C'est La Vue</span>
    <nav class="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/login">Login</router-link>
      <router-link to="/users">Users</router-link>
    </nav>
  </header>

  <Suspense>
    <RouterView></RouterView>

    <template v-slot:fallback>loading...</template>
  </Suspense>
</template>

<style scoped>
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}
span.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-text);
}
span.logo img {
  margin-right: 8px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav a {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-text);
}
.nav a:last-child {
  padding-right: 0;
}
</style>
